<a href="https://colab.research.google.com/github/Thinh1135/AI/blob/main/Bu%E1%BB%95i_2_(6_9).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open ('text.txt',mode='w') as accounts:
  accounts.write('1 Nguyen Van A  8.0\n')
  accounts.write('2 Le Thi B      6.8\n')

In [ ]:
with open ('text.txt',mode='w') as accounts:
  print('7:00 Nguyen Quoc Thinh',file=accounts)
  print('7:01 Le Thi B',file=accounts)

# New Section

In [ ]:
with open ('text.txt',mode='r') as accounts:
  print(f'{'Name':<20}{'Score':>20}')
  for record in accounts:
    name, score=record.split()
    print(f'{name:<20}{score:>20}')

SyntaxError: ignored

In [ ]:
import pandas as pd
url='ten.csv'
dataframe=pd.read_csv(url)
dataframe.head(5)

   STT      MSSV          Ho Va Ten  Diem Khoa
0    1  20104051  Nguyen Quoc Thinh    10  CKM
1    2  20104052        Bui Chi Bao     6  CKM
2    3  20104053      Che Quoc Hung     7  CKM
3    4  20104054     Tran Viet Sang     2  CKM
4    5  20104055       Le Hoang Anh     4  CKM

In [ ]:
import pandas as pd 
dataframe=pd.DataFrame()
dataframe['Name']=['Thuy Hang', 'Cam Ly']
dataframe['Student IP']=[20104037,20104051]
dataframe['Score']=[2.0,1.0]
dataframe['Pass']=['No','No']
dataframe

        Name  Student IP  Score Pass
0  Thuy Hang    20104037    2.0   No
1     Cam Ly    20104051    1.0   No

In [ ]:
import pandas as pd
url='ten.csv'
dataframe=pd.read_csv(url)
dataframe.head(20)
dataframe[:4]
dataframe=dataframe.set_index(dataframe['Khoa'])
(dataframe.loc['CKM']) and (dataframe['Diem'] >=6).head(5)

       STT      MSSV              Ho Va Ten  Diem   Nam Khoa
Khoa
CKM    1.0  20104051      Nguyen Quoc Thinh    10  2020  CKM
CKM    3.0  20104053          Che Quoc Hung     7  2020  CKM
CKM    4.0  20104054         Tran Viet Sang     2  2020  CKM
CKM    6.0  20104056       Le Thi Thuy Hang     5  2020  CKM
CKM    8.0  20104058           Ho Minh Quan     9  2020  CKM
CKM    9.0  20104059  Nguyen Huynh Thao Nhi    10  2020  CKM
CKM   11.0  20104061   Huynh Luong Kieu Anh    10  2020  CKM
CKM   13.0  20104063          Nguyen Cam Ly     7  2020  CKM
CKM   14.0  20104064         Nguyen Anh Thu    10  2020  CKM
CKM   16.0  20104066          Tran Viet Phi     5  2020  CKM
CKM   18.0  20104068         Mai Quang Duc      6  2020  CKM
CKM   19.0  20104069      Nguyen Minh Thong     5  2020  CKM

In [ ]:
import pandas as pd
url='ten.csv'
dataframe=pd.read_csv(url)
dataframe.head(20)
dataframe[:4]
dataframe['Khoa'].value_counts()

CKM    12
FHQ     8
Name: Khoa, dtype: int64

In [ ]:
import pandas as pd
url='ten.csv'
dataframe=pd.read_csv(url)
dataframe.head(20)
dataframe[:4]
dataframe['Khoa'].unique()

array(['CKM', 'FHQ'], dtype=object)

In [ ]:
import pandas as pd
url='ten.csv'
dataframe=pd.read_csv(url)
dataframe.drop('Ho Va Ten', axis=1).head(10)

   STT      MSSV  Diem   Nam Khoa
0  1.0  20104051    10  2020  CKM
1  2.0  20104052     6  2020  FHQ
2  3.0  20104053     7  2020  CKM
3  4.0  20104054     2  2020  CKM
4  5.0  20104055     4  2020  FHQ
5  6.0  20104056     5  2020  CKM
6  7.0  20104057     6  2020  FHQ
7  8.0  20104058     9  2020  CKM
8  9.0  20104059    10  2020  CKM

In [ ]:
import pandas as pd
url='ten.csv'
dataframe=pd.read_csv(url)
dataframe.groupby('Ho Va Ten').mean()

                        STT        MSSV  Diem     Nam
Ho Va Ten
Bui Chi Bao             2.0  20104052.0   6.0  2020.0
Che Quoc Hung           3.0  20104053.0   7.0  2020.0
Ho Minh Quan            8.0  20104058.0   9.0  2020.0
Huynh Luong Kieu Anh   11.0  20104061.0  10.0  2020.0
Le Hoang Anh            5.0  20104055.0   4.0  2020.0
Le Hoang Kha           17.0  20104067.0   3.0  2020.0
Le Ngoc Que Anh        10.0  20104060.0  10.0  2020.0
Le Nguyen Nhu Quynh    15.0  20104065.0   6.0  2020.0
Le Thi Thuy Hang        6.0  20104056.0   5.0  2020.0
Mai Quang Duc          18.0  20104068.0   6.0  2020.0
Nguyen Anh Phi         12.0  20104062.0   6.0  2020.0
Nguyen Anh Thu         14.0  20104064.0  10.0  2020.0
Nguyen Cam Ly          13.0  20104063.0   7.0  2020.0
Nguyen Huynh Thao Nhi   9.0  20104059.0  10.0  2020.0
Nguyen Minh Thong      19.0  20104069.0   5.0  2020.0
Nguyen Quoc Thinh       1.0  20104051.0  10.0  2020.0
Tran Viet Phi          18.0  20104068.0   7.0  2020.0
Tran Viet Sang          4.0  20104054.0   2.0  2020.0
Tran Viet Tri           7.0  20104057.0   6.0  2020.0

In [ ]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

# New Section

In [ ]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data['NOC'].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data[(data['Medal'] =='Silver') & (data['NOC']=='USA') & (data['Year']>=2000)]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
2026,2002,Salt Lake City,Bobsleigh,Bobsleigh,USA,four-man,M,Silver
2030,2002,Salt Lake City,Bobsleigh,Skeleton,USA,individual,W,Silver
2031,2002,Salt Lake City,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
2032,2002,Salt Lake City,Ice Hockey,Ice Hockey,USA,ice hockey,W,Silver
2034,2002,Salt Lake City,Luge,Luge,USA,doubles,X,Silver
2038,2002,Salt Lake City,Skating,Short Track S.,USA,1000m,M,Silver
2046,2002,Salt Lake City,Skating,Speed skating,USA,5000m,M,Silver
2049,2002,Salt Lake City,Skiing,Alpine Skiing,USA,alpine combined,M,Silver
2050,2002,Salt Lake City,Skiing,Alpine Skiing,USA,giant slalom,M,Silver
2051,2002,Salt Lake City,Skiing,Freestyle Ski.,USA,aerials,M,Silver
2052,2002,Salt Lake City,Skiing,Freestyle Ski.,USA,moguls,M,Silver
2053,2002,Salt Lake City,Skiing,Freestyle Ski.,USA,moguls,W,Silver
2057,2002,Salt Lake City,Skiing,Snowboard,USA,Half-pipe,M,Silver
2286,2006,Turin,Bobsleigh,Bobsleigh,USA,two-man,W,Silver
2289,2006,Turin,Skating,Figure skating,USA,ice dancing,X,Silver
2290,2006,Turin,Skating,Figure skating,USA,individual,W,Silver
2294,2006,Turin,Skating,Speed skating,USA,10000m,M,Silver
2296,2006,Turin,Skating,Speed skating,USA,1000m,M,Silver
2298,2006,Turin,Skating,Speed skating,USA,1500m,M,Silver
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
from openpyxl import Workbook
wb=Workbook()
sheet=wb.active
sheet['A1']='Nguyen Van A'
sheet['B1']='20104057'
sheet['A2']='Le Thi B'
sheet['B2']='20104035'
wb.save('F:\Thinh.xlsx')

In [ ]:
import openpyxl 
wb=openpyxl.load_workbook("F:\Thinh.xlsx")
sheet=wb.active
t1=sheet['A1']
t2=sheet['B1']
t3=sheet.cell(row=2,column=1)
t4=sheet.cell(row=2,column=2)
print(t1.value,t2.value)
print(t3.value,t4.value)

Nguyen Van A 20104057
Le Thi B 20104035

In [ ]:
import openpyxl 
wb=openpyxl.load_workbook("F:\Thinh.xlsx")
sheet=wb.active
t1=sheet['A1']
t2=sheet['B1']
t3=sheet['A2']
t4=sheet['B2']
print(t1.value,t2.value)
print(t3.value,t4.value)

Nguyen Van A 20104057
Le Thi B 20104035

In [ ]:
import openpyxl 
wb=openpyxl.load_workbook('F:\Thinh.xlsx')
c1=my_sheet['C1']
c1.value='Hanh kiem tot'
c2=my_sheet['C2']
c2.value='Hanh kiem yeu'
c3=my_sheet['D1']
c3.value='Hoc gioi'
c4=my_sheet['D2']
c4.value='Hoc ngu'
print(t1.value,c1.value,t3.value,c2.value)

NameError: ignored

In [ ]:
import openpyxl
wb=openpyxl.load_workbook('F:\Thinh.xlsx')
my_sheet=my_wb.active
my_wb.create_sheet(index=1, title="CDT")

NameError: ignored